@mixin button-fonds-variant($color) {
  	color: $body-color;
 	background-color: $gray-lighter;
 	position: relative;
  
  * {
  	position: relative;
  	z-index: 10;
  }

  &:before {
  	content: '';
  	width: 0.2em;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	background-color: $color;
  	z-index: 1;
  	transition: all 0.2s ease;
  } 

  &:focus,
  &.focus,
  &:active,
  &.active,
  &:hover,
  .open > &.dropdown-toggle {
    color: #fff!important;
     &:before {
     	width: 100%;
     }
  }

}

// Remove all backgrounds
.btn-fonds-feder, .fonds-feder .btn-fonds{
  @include button-fonds-variant($btn-feder-bg);
}
.btn-fonds-feader, .fonds-feader .btn-fonds, .fonds-feader-leader .btn-fonds {
  @include button-fonds-variant($btn-feader-border);
}
.btn-fonds-feamp, .fonds-feamp .btn-fonds {
  @include button-fonds-variant($btn-feamp-bg);
}
.btn-fonds-fse, .fonds-fse .btn-fonds  {
  @include button-fonds-variant($btn-fse-bg);
}
