
.nav-fonds .list {

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: strech;
	margin-top: 1em;

	.list-item {
		
		flex-basis: 18%;
		margin-bottom: $grid-gutter-width;
		position: relative;
		
		.menu-item {
			border-top: 0.5rem solid $gray-lighter;
			padding-top: 1em;
		}

		.menu-feder {
			border-color: $feder;
		}
		
		.menu-feader, .menu-feader-leader {
			border-color: $feader;
		}
		
		.menu-fse {
			border-color: $fse;
		}
		
		.menu-feamp {
			border-color: $feamp;
		}
		
	}
}

.nav-montant {
	.nav-link {
		font-size: 1.2rem;
		background: $gray-lighter;
		border-left: solid 4px $gray-light;
		border-radius: 0;

		&:hover, &:focus {
			.term-feder & {
				background: lighten($feder, 55%);
				border-color: $feder;
			}
			.term-feamp & {
				background: lighten($feamp, 55%);
				border-color: $feamp;
			}
			.term-fse & {
				background: lighten($fse, 55%);
				border-color: $fse;
			}
			.term-feader &, .term-feader-leader & {
				background: lighten($feader, 55%);
				border-color: $feader;
			}
		}
	}
}
