
.nav-fonds {

	.list {

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: stretch;
		margin-top: 2rem;
		height: 230px;

		.list-item {
			
			flex-basis: 20%;
 			margin-right: 2%;
			margin-bottom: $grid-gutter-width;
			position: relative;
			height: 100%;
			
			.menu-item {

				display: block;
				height: 100%;
				position: relative;
				

				.menu-item-wrapper {
					display: flex;
					flex-flow: column nowrap;
					justify-content: space-between;
					height: 100%;
					padding: 0.4rem;
					padding-top: 1.4em;
					background: transparent;
					position: relative;
					z-index: 10;
					
					> * {
						flex: 0;
						flex-basis: 40%;
					}

					.fonds-title {
						font-family: 'Bretagne';
						font-size: 1.8rem;
						flex-basis: 1.4rem;
						color: #333;
						text-transform: uppercase;
						
						&:first-line {							
							font-weight: bold;
						}

					}

					small {
						flex-basis: 1.4rem;
					}
				}

				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 0.4rem;
					background-color: $gray-lighter;
					position: absolute;
					top: 0;
					z-index: 0;
					transition: all 0.2s ease;
				}

				&.menu-feder:before {
					background-color: $feder;
				}
				
				&.menu-feader:before, &.menu-feader-leader:before {
					background-color: $feader;
				}
				
				&.menu-fse:before {
					background-color: $fse;
				}
				
				&.menu-feamp:before {
					background-color: $feamp;
				}

				
				&:hover, &:focus {
					text-decoration: none;
					.menu-item-wrapper > *, .menu-item-wrapper .fonds-title:first-line {
						color: #fff;
						
					}
					

					&:before {
						height: 100%;
					}
				}
			}

			
			
		}

	} 
}

.nav-montant {
	.nav-link {
		font-size: 1.2rem;
		background: $gray-lighter;
		border-left: solid 4px $gray-light;
		border-radius: 0;

		&:hover, &:focus {
			.term-feder & {
				background: lighten($feder, 55%);
				border-color: $feder;
			}
			.term-feamp & {
				background: lighten($feamp, 55%);
				border-color: $feamp;
			}
			.term-fse & {
				background: lighten($fse, 55%);
				border-color: $fse;
			}
			.term-feader &, .term-feader-leader & {
				background: lighten($feader, 55%);
				border-color: $feader;
			}
		}
	}
}
