
.breadcrumb {
	margin-bottom: 0;
}


.fiche, .fond {
	padding-top: 6rem;
	background-position: center -30px;
	background-repeat: no-repeat;
	background-size: 100%;

	&.fonds-feder, .term-feder &{
		background-image: url(../images/bg-feder.png);
	}
	&.fonds-feamp, .term-feamp &{
		background-image: url(../images/bg-feamp.png);
	}
	&.fonds-fse, .term-fse &{
		background-image: url(../images/bg-fse.png);
	}
	&.fonds-feader, &.fonds-feader-leader, .term-feader &, .term-feader-leader &{
		background-image: url(../images/bg-feader.png);
	}
}

.lead {
	font-family: 'Bretagne';
	font-size: 1.4rem;
}

.share {
	text-align: right;
	font-size: 1.4rem;
	margin-bottom: 1em;
}

.panel {
	
	margin-bottom: 1em;

	.panel-heading {

		.panel-title {
			margin: 0;
			font-size: 1.2rem;
			font-weight: 600;

			a {
				display: block;
				padding: 0 $spacer;
				background: $gray-lighter;
				position: relative;
				height: 4rem;
				line-height: 4rem;

				span {
					display: block;
					width: 4rem;
					height: 4rem;
					line-height: 4rem;
					text-align: center;
					position: absolute;
					top: 0;
					right: 0;
					color: #fff;
					background: $gray-light;
					transition: all 0.2s ease-out;
				}

				&:hover, &.active {

					text-decoration: none;

					span {
					
						.fonds-feder & {
							background: $feder;
						}
						.fonds-feamp & {
							background: $feamp;
						}
						.fonds-fse & {
							background: $fse;
						}
						.fonds-feader &, .fonds-feader-leader & {
							background: $feader;
						}
						
					}

				}

				&:focus {
					text-decoration: none;
				}

			}
		}

		&.in {

			.fonds-feder & {
				background: $feder;
			}
			.fonds-feamp & {
				background: $feamp;
			}
			.fonds-fse & {
				background: $fse;
			}
			.fonds-feader &, .fonds-feader-leader & {
				background: $feader;
			}

		}

	}

	.panel-collapse {
		padding: $spacer 0;
	}
}

.img-logo {
	max-height: 300px;
}

.section-content {
	> p a, li a {
		position: relative;
		display: inline-block;
		border-bottom: 1px solid $brand-primary;
		transition: all 0.3s;

		.fonds-feder & {
			border-color: $feder;
		}
		.fonds-feamp & {
			border-color: $feamp;
		}
		.fonds-fse & {
			border-color: $fse;
		}
		.fonds-feader &, .fonds-feader-leader & {
			border-color: $feader;
		}

		&:after {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 1px;
			background: $brand-primary;
			content: '';

			.fonds-feder & {
				background: $feder;
			}
			.fonds-feamp & {
				background: $feamp;
			}
			.fonds-fse & {
				background: $fse;
			}
			.fonds-feader &, .fonds-feader-leader & {
				background: $feader;
			}
		}

		&:after {
			opacity: 0;
			transition: top 0.3s, opacity 0.3s, transform 0.3s;
		}

		&:hover, &:focus {
			text-decoration: none;
			border-bottom-style: solid;

			.fonds-feder & {
				color: $feder;
			}
			.fonds-feamp & {
				color: $feamp;
			}
			.fonds-fse & {
				color: $fse;
			}
			.fonds-feader &, .fonds-feader-leader & {
				color: $feader;
			}

			&:before, &:after {
				transform: scale(1);
			}
			&:after {
				top: 0%;
			opacity: 1;
			}
		}
	}
}


table {

	width: 100%;
	
	td {
		width: 40%;
		
	}

	ul {
		margin-left: 0;
		padding: 1rem;
	}

	.etape {
		span {
			display: block;
			font-family: 'Bretagne';
			font-size: 3rem;

			.fonds-feder & {
				color: $feder;
			}
			.fonds-feamp & {
				color: $feamp;
			}
			.fonds-fse & {
				color: $fse;
			}
			.fonds-feader &, .fonds-feader-leader & {
				color: $feader;
			}
		}
	}

	.empty {
		background: $gray-lighter,
	}
}