
.nav-fonds .list {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	min-height: 20vh;
	.menu-item {
		flex:0;
		display: flex;
		flex-basis: 20%;
		
		a {
			display: flex;
			width: 100%;
			background: $gray-lighter;
			color: $gray-light;
			text-decoration: none;
			text-transform: uppercase;
			justify-content: center;
			align-items: center;
			font-size: 1.4em;

			&:hover, &:focus {
				color: #fff;
				background: $brand-primary;
			}
		}
	}
}

.nav-montant .list {
	.menu-item {
		margin-bottom: 1em;
		a {
			display: flex;
			width: 100%;
			background: $gray-lighter;
			color: $gray-light;
			text-decoration: none;
			justify-content: flex-start;
			align-items: center;
			font-size: 1.4em;
			padding: 1em;

			&:hover, &:focus {
				color: #fff;
				background: $brand-primary;
			}

		}
	}
}

.page-header {
	margin-bottom: 4rem;
}

.section-header {
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid $gray-lighter;
}